.gradle
/local.properties
.DS_Store
build/
.idea/*
.idea/codeStyles/*
!.idea/codeStyles/
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/icon.png
!.idea/icon_dark.png
*.iml
build.txt
captures/
app/schemas/
reports/
